doctype xml
extension(type="component" version="2.5.0" method="upgrade")
	name COM_FOOD
	creationDate 2025-03-11
	author ProjectSoft
	authorEmail projectsoft2009@yandex.ru
	authorUrl https://t.me/ProjectSoft
	copyright Copyright © 2008 - all right reserved
	license License MIT
	version 1.0.0
	description COM_FOOD_DESCRIPTION
	scriptfile install.php
	administration
		menu(link="option=com_food") COM_FOOD
		files(folder="admin")
			folder assets
			folder controllers
			folder helpers
			folder languages
			folder models
			folder views
			filename access.xml
			filename config.xml
			filename food.php
			filename index.html
		languages(folder="admin")
			language(tag="en-GB") languages/en-GB/en-GB.com_food.ini
			language(tag="en-GB") languages/en-GB/en-GB.com_food.sys.ini
			language(tag="en-US") languages/en-US/en-US.com_food.ini
			language(tag="en-US") languages/en-US/en-US.com_food.sys.ini
			language(tag="ru-RU") languages/ru-RU/ru-RU.com_food.ini
			language(tag="ru-RU") languages/ru-RU/ru-RU.com_food.sys.ini
